<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Protected Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span
          >This page retrieves a <strong>protected message</strong> from an
          external API.</span
        >
        <span
          ><strong>Only authenticated users can access this page.</strong></span
        >
      </p>
      <app-code-snippet
        title="Protected Message"
        [code]="message"
      ></app-code-snippet>
    </div>
  </div>
</app-page-layout>
