<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Admin Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span
          >This page retrieves an <strong>admin message</strong> from an
          external API.</span
        >
        <span>
          <strong
            >Only authenticated users with the
            <code>read:admin-messages</code> permission should access this
            page.</strong
          >
        </span>
      </p>
      <app-code-snippet
        title="Admin Message"
        [code]="message"
      ></app-code-snippet>
    </div>
  </div>
</app-page-layout>
